*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(../img/img-p-Estreno/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display:block;
    color: blue;
}
header h1{
    text-align: center;
    font-size: 35px;
    color: rgb(255, 2, 2);
    padding: 30px 0;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}
.contenedor .contenedor-items{
    background-color: #f3f3f3;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 60%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    padding: 20px;
    margin: auto;
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px;
}
.contenedor-items:hover{
    background-color: aqua;
}
.contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.10;
}
.contenedor-items .item .img-itm{
    width: 100%;
}
.contenedor-items .item .Titulo-itm{
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.contenedor-items .item .precio-itm{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.contenedor-items .item .boton-itm{
    display: block;
    margin: 10px auto;
    border: none;
    background: black;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;   
}
.contenedor-items .item .boton-itm:hover{
    color: rgb(245, 0, 0);
}
/*Seccion de carrito de mangas*/
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}
.carrito .header-carrito{
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-itm{
    background-color: chartreuse;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-itm img{
    margin-right: 20px;
}
.carrito .carrito-itm .carrito-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-itm .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-itm .carrito-itm-cantidad{
    border: none;
    font-size: 18px;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center; 
}
.carrito .carrito-itm .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-itm .carrito-itm-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-itm .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20px;
}
.carrito .carrito-itm .btn-eliminar i{
    pointer-events: none;
}
.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;  
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #f3f3f3;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}
/*seccion responsive*/
@media screen and (max-width:850px) {
    .contenedor{
        display: block
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
    
}





